

.Navbar {
  margin-left: auto;
}
.Navbar_NavLink{
  display: inline-block;
  margin: 0 10px;
  font-size: 0.83em;
  text-decoration: none;
  color:white;
}

.Navbar_NavLink.Button_solid{
  color: #FFF;
  background: #00d0f1;
  padding: 2px 7px;
  border-radius: 5px;
}
.Navbar_NavLink:hover, .Navbar_NavLink.Button_thin:hover{
  color:#00d0f1;
  transition: color 0.12s ease-out 0s;
}
.Navbar_NavLink.Button_thin{
    background-color: transparent;
    border: 1px solid #FFF;
    color: #FFF;
    border-radius: 5px;
    padding: 2px 7px;
}
.Navbar_NavLink.Button_solid:hover{
  color:#FFF;
  transition: color 0.12s ease-out 0s;
}