.projects{
  margin: 20px auto;
  width: 900px;
}
.card{
  margin: 20px 0px;
}
.card-header{
  background: #e7f2f3;
  color: #262c35;
  font-size: 24px;
}
.card-body span{
  padding: 12px;
}
.card-body p{
  margin: 40px 10px;
}