
@import '../../styles/shared.scss';

.search-input {
  box-sizing: border-box;
  border: none;
  background: #e5f3f5;
  padding: 15px;
  width:60%;
}
.search-submit{
  box-sizing: border-box;
  border: none;
  background: #00d4f3;
  padding: 15px;
  width:20%;
}