@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.placeBid{
  margin: 20px auto;
  width: 900px;
}
.card-header{
  background: #e7f2f3;
  color: #262c35;
  font-size: 24px;
  display: flex;
}
.card-body span{
  padding: 12px;
}
.card-body p{
  margin: 40px 10px;
}
.project-bid{
  margin-left: auto;
}
.card-text{
  margin:10px 0px;
}
.price{
  width:150px;
}